html, body {
    width: 100%;
    height: 100%;
    background: #59ba77;
    font-family: "Impact";
    color: #59ba77;
    /*overflow: hidden;*/
}

/*清浮*/
.clearfix::after {
    display: block;
    height: 0;
    content: "";
    clear: both;
}

/*显示隐藏*/
.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.judge .judgeHover {
    border: 1px solid #59ba77;
}

.type5Click {
    background: #59BA77;
    color: #ffffff;
}

/*html背景两图片*/
.bg-left {
    width: 661px;
    height: 176px;
    background: url("../image/left_bg.png") no-repeat;
    position: absolute;
    left: 0;
    bottom: -60px;
}

.bg-right {
    width: 575px;
    height: 636px;
    background: url("../image/right_bg.png") no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}

/*开始*/
.main {
    width: 1100px;
    height: 600px;
    margin: 0 auto;
    /*border:1px solid black;*/
    position: relative;
}

/*标题*/
.header {
    width: 168px;
    height: 48px;
    margin: 0 auto;
    padding: 27px 0;
}

/*内容*/
.concent {
    width: 810px;
    height: 450px;
    background-color: #fffcda;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 90px;
    margin-left: -410px;
    z-index: 100;
    padding: 0 20px 0 20px;
}

.bg-concent-left {
    width: 200px;
    height: 300px;
    background: url("../image/1.png") no-repeat;
    background-size: 200px 300px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.bg-concent-right {
    width: 200px;
    height: 200px;
    background: url("../image/2.png") no-repeat;
    background-size: 200px 200px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.lesson {
    margin-top: 140px;
}

.preview {
    margin-top: 30px;
}

.first-title {
    width: 100%;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    color: #59ba77;
    text-align: center;
    font-family: "Impact";
}

.first-btn {
    width: 187px;
    height: 74px;
    margin: 50px auto;
    background: url("../image/spirit.png") -9px -7px;
    cursor: pointer;
}

/*中间做题页*/
.contentId {
    width: 100%;
    height: 100%;
    /*border:1px solid black;*/
}

.conTitle {
    width: 100%;
    height: 20px;
    padding: 20px 0 0 0;
    font-size: 20px;
}

.conTitle1 {
    width: 400px;
    height: 100%;
    float: left;
}

.conTitle2 {
    width: 60px;
    height: 26px;
    background-color: #DBF7E4;
    font-size: 16px;
    margin-top: -3px;
    line-height: 27px;
    text-align: center;
    float: right;
    margin-right: -14px;
}

.type4-title {
    font-size: 20px;
    color: #59ba77;
    text-align: center;
    margin-top: 20px;
}

.judge {
    width: 100%;
    height: 150px;
    margin-top: 30px;
    text-align: center;
}

.judge span {
    display: inline-block;
    width: 152px;
    height: 152px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    margin: 0 20px;
    line-height: 152px;
    cursor: pointer;
}

.judge span:hover {
    border: 1px solid #59ba77;
}

.judge a {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: auto;
    vertical-align: middle;
}

.judge-true {
    background-image: url("../image/spirit.png");
    background-position: -516px -4px;
}

.judge-false {
    background-image: url("../image/spirit.png");
    background-position: -516px -90px;
}

/*左右按钮*/
.botBtn {
    width: 168px;
    height: 68px;
    text-align: center;
    margin: 30px auto;
}

.prve {
    display: inline-block;
    width: 65px;
    height: 65px;
    float: left;
    background: url("../image/spirit.png");
    background-position: -239px -16px;
    cursor: pointer;
}

.next {
    display: block;
    width: 65px;
    height: 65px;
    float: right;
    background: url("../image/spirit.png");
    background-position: -239px -97px;
    cursor: pointer;
}

/*type5*/
.type5-title {
    font-size: 20px;
    color: #59ba77;
    margin-top: 20px;
}

.vacancy {
    /*width: 20px;*/
    height:20px;
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
    padding: 0 20px;
    border-bottom: 1px solid #59ba77;
    color: #59ba77;
    margin-left: 4px;
}

/*flex布局:两边距边框边距相等并是元素之间距离的一半，
自动换行到下面*/
.type5-option-box {
    width: 100%;
    height: 180px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.type5-option {
    display: inline-block;
    width: 340px;
    height: 42px;
    border: 1px solid #59ba77;
    border-radius: 5px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    margin-top: 7px;
}

.type5-option:hover {
    background: #59BA77;
    color: #fff;
}

/*尾页*/
.ended {
    width: 100%;
    height: 360px;
    /*border:1px solid black;*/
    padding: 1px;
    margin-top: 20px;
}

.correct {
    width: 100%;
    height: 20px;
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
}

.wrong {
    text-align: center;
    margin-top: 30px;
    color: #ff3737;
    font-size: 20px;
}

.star-box {
    width: 100%;
    height: 72px;
    margin-top: 30px;
    text-align: center;
}

.star {
    width: 80px;
    height: 70px;
}

.star-true {
    display: inline-block;
    background-image: url("../image/spirit.png");
    background-position: -430px -14px;
}

.star-false {
    display: inline-block;
    background-image: url("../image/spirit.png");
    background-position: -430px -108px;
}

.btn-box {
    width: 460px;
    height: 68px;
    margin: 30px auto;
    margin-bottom: 0;
    text-align: center;
}

.btn-end {
    display: inline-block;
    width: 212px;
    height: 66px;
    background-image: url("../image/spirit.png");
    cursor: pointer;
}

.btn-again {
    background-position: -8px -109px;
}

.btn-quit {
    background-position: -8px -203px;
    margin-left: 30px;
}



































































