<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程复习系统</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/main.css">
    <script type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<div id="app">
    <!--html背景两图片-->
    <div class="bg-left"></div>
    <div class="bg-right"></div>
    <!--内容-->
    <div class="main">
        <div class="header"><img src="./image/preview_logo.png" alt=""></div>
        <!--中心主体-->
        <div class="concent">
            <!--开始首页-->
            <div :class="{hide:startShow}">
                <div class="bg-concent-left"></div>
                <div class="bg-concent-right"></div>
                <p class="lesson first-title">Lesson1</p>
                <p class="preview first-title">Review&nbsp&nbsp&nbsp Practice</p>
                <p class="first-btn" @click="starBtn"></p>
            </div>
            <!--开始做题,中间做题页-->
            <div v-for="(item, index) in questionList" :class="{hide:contentShow}"
                 class="contentId" v-if="index==listsId">
                <!--试题上方标题与页数-->
                <div class="conTitle">
                    <template v-for="(qType, index) in question_type" v-if="item.type==index">
                        <span class="conTitle1">{{qType.en}}</span>
                    </template>
                    <template>
                        <span class="conTitle2">{{index+1}}/{{ questionList.length }}</span>
                    </template>
                </div>
                <!--type4判断对错题目-->
                <p class="type4-title">{{item.data.title}}</p>
                <!--判断对错选项-->
                <p class="judge">
                    <span>
                        <a class="judge-true"></a>
                    </span>
                    <span>
                        <a class="judge-false"></a>
                    </span>
                </p>





            </div>
            <!--结尾尾页-->
            <!--<div class="ended" :class="{hide:endShow}">-->
                <!--<p class="correct">Correct: {{finish.trueNum}}</p>-->
                <!--<p class="wrong">Wrong: {{finish.wrongNum}}</p>-->
                <!--<div class="star-box">-->
                    <!--<p v-if="finish.star==1">-->
                        <!--<span class="star star-true"></span>-->
                        <!--<span class="star star-false"></span>-->
                        <!--<span class="star star-false"></span>-->
                    <!--</p>-->
                    <!--<p v-if="finish.star==2">-->
                        <!--<span class="star star-true"></span>-->
                        <!--<span class="star star-true"></span>-->
                        <!--<span class="star star-false"></span>-->
                    <!--</p>-->
                    <!--<p v-if="finish.star==3">-->
                        <!--<span class="star star-true"></span>-->
                        <!--<span class="star star-true"></span>-->
                        <!--<span class="star star-true"></span>-->
                    <!--</p>-->
                <!--</div>-->
                <!--<p class="btn-box">-->
                    <!--<span class="btn-end btn-again" @click="btnAgain"></span>-->
                    <!--<span class="btn-end btn-quit"></span>-->
                <!--</p>-->
            <!--</div>-->
        </div>
    </div>

</div>

</body>
</html>